body{
  background-image: url("../images/template/blue.png");
  background-repeat: repeat-x;
}
.mainContainer{
    width: 1024px;
    min-width: 1024px;
    max-width: 1600px;
    margin: 0 auto;
}
.header{
    height: 158px;
}
.navigation{
    background-image: url(../images/template/brown.png);
    background-repeat: repeat-x;
}
.navigation a{
    display: block;
    float: left;
    padding: 15px 20px 15px 20px;
    margin: auto;
}

/* about */
#addNewAboutInfoButton, #addNewBrandInfoButton {
    float: right;
    height: 30px;
    border: 1px solid black;
}
.editAboutInfoDiv, .editBrandInfoDiv, .dialogFormDiv{
    margin: 10px 0px 10px 0px;
}
.editAboutInfoDiv label, .editBrandInfoDiv label, .dialogFormDiv label  {
    margin: 0px 20px 0px 0px;
    display: block;
    float: left;
}
.editAboutInfoTextArea, .editAboutInfoSelect, .editAboutInfoInput, .editBrandInfoInput,
.dialogFormTextArea, .dialogFormSelect, .dialogFormInput {
    border: 1px solid black;
}
.editAboutInfoTextArea, .dialogFormTextArea {
    width: 440px;
    max-width: 740px;
    height: 130px
}
.aboutTable thead, .brandInfoTable thead, .infoTable thead{
   padding: 20px;
   font-weight: bold;
   font-size: 20px;
}
.aboutTable td, .brandInfoTable td, .infoTable td{
   padding: 20px;
}

.submit {
    margin: 20px 0px 0px 0px;
    min-width: 50px;
    min-height: 20px;
    border: 2px solid #555555;
}

/***************************************** brand *******************************************************************/
.brandInfoTable{
    padding: 0px 0px 10px 0px;
    margin: 0px 0px 50px 0px;
    border-bottom: 1px solid black;
}
.infoTable thead{
   padding: 20px;
   font-weight: bold;
   font-size: 17px;
}

.category{
    margin: 10px;
    font-size: 25px;
    font-weight: bold;
}
.infoStatus {
    font-size: 16px;
    font-weight: bold;
}