.clear{
    clear: both;
}
body{
  background-image: url("../images/template/blue.png");
  background-repeat: repeat-x;
  font-family: 'Roboto Slab', serif;
}
.mainContainer{
    width: 1024px;
    min-width: 1024px;
    max-width: 1600px;
    margin: 0 auto;
}
.header{
    height: 158px;
}
.logo{
   display: block;
   float: left;
   width: 235px;
   height: 91px;
   background-image: url(../images/template/yellow.png);
   background-repeat: no-repeat;
}
.phone{
    margin: 20px 0px 0px 40px;
}
.headerPhone{
    float: left;
    color: #eeeeee;
}
.numberFirstPart {
    color: #aaaaaa;
    font-size: 20px;
}
.numberSecondPart {
    color: #dddddd;
    font-size: 24px;
}
.accountOptions a{
    margin: 0px 10px 0px 0px;
}
.logDiv{
    float:right;
    padding: 10px 0px 0px 0px;
}
.helloMessage{
    font-size: 14px;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
}
.navigation{
    background-image: url(../images/template/brown.png);
    background-repeat: repeat-x;
}
.navigation a{
    display: block;
    float: left;
    padding: 15px 20px 15px 20px;
    margin: auto;
}
.systemMessage {
    padding: 20px 0px;
    text-align: center;
    color: #ff0000;
    font-size: 14px;
}
.content{
    min-height: 500px;
}
.footer{
    background-image: url(../images/template/yellow.png);
    background-repeat: repeat;
}
.footerColumn{
    float: left;
    margin: 40px 150px 20px 0px;
}
.loginLabelDiv, .registrationLabelDiv{
    float: left;
    margin: 20px 20px 0px 0px;
}
.loginLabelDiv label, .registrationLabelDiv label{
    display: block;
    margin: 20px 0px 0px 0px;
}
.loginInputDiv, .registrationInputDiv{
    float: left;
    margin: 20px 20px 0px 0px;
}
.loginInput, .registrationInput{
    display: block;
    border: 2px solid #666666;
    margin: 20px 0px 0px 0px;
}
.submit {
    margin: 20px 0px 0px 0px;
    min-width: 50px;
    min-height: 20px;
    border: 2px solid #555555;
}
.brandList li{
  float: left;
  display: block;
  margin: 0px 100px 40px 0px;
  text-align: center;
}
.brandList h3{
    margin:  20px 0px 0px 0px;
}
